@model IconPractice.Models.StoryViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Your Story</title>
</head>
<body>
<div>
    <p id="title">@Model.Title</p>
</div>
</body>
</html>