
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>you are here</title>
</head>
<body>
<div>
    <p id="indexGreeting">Welcome</p>
    <button type="button" id="storyBtn">Get Story</button>
</div>
</body>
</html>