<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/css/site.css"/>  
    
</head>
<body>

@RenderBody()

<footer style="text-align: center">
    <a href="https://currentsapi.services/" style="color:green" id="api-link">Powered by CurrentsApi</a>
</footer>


</body>
</html>